#projects {
    display: flex;
    flex-direction: column;
    padding-top: 1vmax;
    overflow: visible;
    color: #E2DED0;
    text-align: center;
    width: 100%;
}

.projects-header {
    margin: 5vmax 0 0 0;
    font-family: 'Anton', sans-serif;
    font-size: 8vmax;
    background: linear-gradient(to right, #E2DED0, #746C70);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.project-slide {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
}


.project-slide.active {
    opacity: 1;
}

.project-slide img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    #projects {
        height: 2500px;
    }

    .project-slide img {
        max-width: 75%;
        overflow: hidden;
    }

    .main-img-container {
        height: 50vmax;
    }

    .project-slideshow {
        width: 95%;
    }

    .prev-arrow,
    .next-arrow {
        font-size: 8rem;
    }

    .project-info p {
        font-size: 3rem;
    }

    .project-info a {
        font-size: 4rem;
    }

    .project-info .github {
        font-size: 5rem;
    }

    .project-info h3{
        font-size: 4rem;
    }

    .project-title{
        font-size: 4rem;
    }
}

@media screen and (min-width: 1001px) {
    #projects {
        min-height: 1300px;
    }

    .main-img-container {
        height: 500px;
    }

    .project-slideshow {
        max-width: 90vw;
    }

    .prev-arrow,
    .next-arrow {
        font-size: 5rem;
    }

    .project-info p {
        font-size: 1.5rem;
    }

    .project-info a {
        font-size: 2rem;
    }

    .project-info .github {
        font-size: 3rem;
    }
}

.main-img-container {
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #393E46;
    filter: drop-shadow(-20px 20px 9px black)
}

.main-img {
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
    filter: drop-shadow(0 0 10px white);
}

.project-info {
    font-family: anton;
    font-size: 1rem;
    color: #FFD369;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

h3 {
    color: #FFD369;
    filter: drop-shadow(0px 0px 1px #222831);
    font-size: 4rem;
}

.main-img-container:hover .project-info {
    display: flex;
    background-color: #222831ec;
}

.project-info p {
    color: #fff;
    margin: 2rem;
}

.project-info a {
    color: #fff;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.project-info a:hover {
    cursor: pointer;
    color: darkgrey;
    transition: color 0.3s ease-in-out;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 190px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #393E46;
    filter: drop-shadow(-20px 20px 9px black)
}

.thumbnail {
    position: static;
    max-width: 100px;
    max-height: 180px;
    margin-right: 10px;
    border: 2px solid white;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    overflow: auto;
}

.thumbnail:hover {
    opacity: 1;
}

.thumbnail.active {
    opacity: 1;
    filter: drop-shadow(3px -1px 5px white) drop-shadow(-20px 20px 23px black)
}

.prev-arrow {
    left: .25vw;
}

.next-arrow {
    right: .25vw;
}

.prev-arrow,
.next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    border: none;
    background-color: transparent;
    color: #EEEEEE;
    z-index: 3
}

.prev-arrow:hover,
.next-arrow:hover {
    color: whitesmoke;
    filter: drop-shadow(0 0 0.25rem white)
}

.disable {
    pointer-events: none;
    color: #eeeeee2f;
    filter: none;
}