#technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vmax;
    overflow: visible;
    color: #E2DED0;
    text-align: center;
}

.technologies-header {
    margin: 5vmax 0 0 0;
    font-family: 'Anton', sans-serif;
    font-size: 8vmax;
    background: linear-gradient(to right, #E2DED0, #746C70);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1001px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .list-group-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin-bottom: 0;
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
    }

    #technologies .tab-container {
        max-width: 800px;
        margin: 0 auto;
        border: 23px solid #222831;
        filter: drop-shadow(-20px 20px 9px #222831);
        border-radius: 15px;
    }
    #technologies{
        min-height: 1300px;
    }
}

@media screen and (max-width: 1000px) {
    #technologies {
        height: 2800px;
    }

    #technologies .tab-container {
        border: 20px solid #222831;
        width: 90%;
        border-radius: 6%;
        filter: drop-shadow(-20px 20px 9px #222831);
    }
    .list-group-item{
        font-size: 3rem;
    }

    .tab-container{
        font-size: 3rem;
    }
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.nav {
    justify-content: center;
    align-items: center;
    --bs-nav-link-color: #EEEEEE;
    --bs-nav-link-hover-color: #FFD369;
}

.nav-tabs .nav-link.active {
    --bs-nav-tabs-link-active-color: #222831;
    border-bottom: none;
    background-color: #393E46;
    color: #EEEEEE;
    border-color: #393E46;
}

.nav-tabs {
    border-bottom: none;
}

#technologies .tab-container {
    background-color: #222831;
}

.nav-link.active,
.list-group-item {
    color: #EEEEEE;
    background-color: #393E46;
}