@media screen and (max-width: 767px) {
    .about-container {
        text-align: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-image-container {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .about-image-container {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .about-paragraphs {
        font-family: 'Source Sans Pro', sans-serif;
    }
}

@media screen and (min-width: 768px) {
    .about-container {
        text-align: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10vh;
    }

    .about-image-container {
        float: left;
    }

    .about-image-container {
        width: 17rem;
        height: 17rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .about-paragraphs {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: large;
    }
}

.about-header {
    text-align: center;
    margin: 16vh 0 6vh 0;
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-paragraphs {
    max-width: 40rem;
    margin: 0;
    padding: 0 1rem;
}