#about {
    flex-grow: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 15vmax;
    padding-top: 0;
    overflow: auto;
    color: #E2DED0;
    text-align: center;
}

.about-header {
    text-align: center;
    margin: 14vmin 0 2vmin 0;
    font-family: 'Mr Dafoe', cursive;
    font-size: 15vmin;
    background: linear-gradient(to right, #EEEEEE, #E2DED0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px .1rem #ffffffe0);
}

.content-container {
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 60vmin;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #393E46;
    filter: drop-shadow(-20px 20px 9px black)
}

@media screen and (max-width: 767px) {
    .about-container {
        text-align: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-image-container {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .about-image-container {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .about-paragraphs {
        font-family: 'Source Sans Pro', sans-serif;
    }
}

@media screen and (min-width: 768px) {
    .about-container {
        text-align: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 3vh;
    }

    .about-image-container {
        float: left;
    }

    .about-image-container {
        width: 17rem;
        height: 17rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .about-paragraphs {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: large;
    }
}

.about-image-container {
    z-index: 1;
    filter: drop-shadow(0 0 0.25rem #E2DED0) drop-shadow(-1px -1px .25rem #EEEEEE);
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-paragraphs {
    max-width: 40rem;
    margin: 0;
    padding: 0 1rem;
}