body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

#root {
  /* background-image:linear-gradient(to top,#E2DED0 , #4E4F50); */
  background-color: #4E4F50;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  #root {
    background-size: contain;
  }
}